# https://docs.ansible.com/ansible/latest/reference_appendices/config.html
[defaults]
inventory = inventory.yml
vault_password_file = .vault
host_key_checking = False
roles_path = roles
interpreter_python = /usr/bin/python3